@using Application.DTOs.Enums

@model IEnumerable<ProductResponse>

@{
	ViewBag.Title = "Productos";
}

<main>
	<h1>Lista de productos: </h1>
	<form asp-controller="product" asp-action="index" method="get">
	<div>
		<select class="form-input" name="searchBy">
			@foreach(var field in ViewBag.SearchFields)
			{
					if (field.Key == ViewBag.CurrentSearchBy)
					{
						<option value="@field.Key" selected="selected">@field.Value</option>
					}
					else
					{
						<option value="@field.Key">@field.Value</option>
					}
					
			}
			
		</select>	
	</div>
	<div>
			<input type="search" id="Search" class="form-input" placeholder="Buscar" name="searchString" value="@ViewBag.CurrentSearchString">
	</div>
	<div>
		<button type="submit">Buscar</button>
			<a asp-controller="product" asp-action="index">Limpiar Filtros</a>
	</div>
	<div>
			<a asp-controller="product" asp-action="create">Añadir Producto</a>
			
	</div>
	
		<table>
			<thead>
				<tr>
					<th>Seleccionar</th>
					@*<th>Id</th>*@
					<th>
						@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
						{
						{ "ColumnName",nameof(ProductResponse.ProductName)},
						{ "ColumnDisplayName", "Nombre" },
						
						})
					</th>
					<th>
						@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
												{
							{ "ColumnName",nameof(ProductResponse.Category.CategoryName)},
												{ "ColumnDisplayName", "Categoria" },
												})
					</th>
					<th>
						@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
												{
							{ "ColumnName",nameof(ProductResponse.Price)},
												{ "ColumnDisplayName", "Precio" },
												})
					</th>
					<th>Stock</th>
					<th>Creado el</th>
					<th>Ultima actualizacion</th>

					<th></th>
					<td></td>
				</tr>
			</thead>
			<tbody>
				@foreach (ProductResponse product in Model)
				{
					<tr>
						<td><input type="checkbox"></td>
						@*<td>@product.Id</td>*@
						<td>@product.ProductName</td>
						<td>@product.Category.CategoryName</td>
						<td>@product.Price.ToString("C")</td>
						<td>@product.Stock</td>
						<td>@product.CreatedAt.ToString("g")</td>
						<td>@product.LastUpdatedAt.ToString("g")</td>
						<td><a asp-controller="product" asp-action="update" asp-route-id="@product.Id">Editar</a></td>
						<td><a asp-comtroller="product" asp-action="delete" asp-route-id="@product.Id">Eliminar</a></td>
						@*<td><a href="#">Eliminar</a></td>*@
					</tr>
				}
			</tbody>
		</table>
		<a href="#">Eliminar Seleccionados</a>
	
	</form>
	
</main>
