
@using SimpleECommerce.Core.Enums

@{
    var sortOrder = SortOrderEnum.Ascending.ToString();
    if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderEnum.Ascending.ToString())
    {
        sortOrder = SortOrderEnum.Descending.ToString();
    }
    else if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderEnum.Descending.ToString())
    {
        sortOrder = SortOrderEnum.Ascending.ToString();
    }
}

<a asp-controller="Product"
   asp-action="Index"
   asp-route-searchBy="@ViewBag.CurrentSearchBy"
   asp-route-searchString="@ViewBag.CurrentSearchString"
   asp-route-sortBy="@ViewBag.ColumnName"
   asp-route-sortOrder="@sortOrder">
    @ViewBag.ColumnDisplayName
</a>